.body {
  margin: 0;
  color: var(--main-color);
  background-color: var(--bc);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  padding-top: 85px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
.current {
}
