.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: $card-set-gap;

  font-size: 16px;
  line-height: 1.87;
}
.card-set__item {
  flex-basis: calc((100% - 60px) / 3);
}

.card-set__link {
  display: block;
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition: transform 250ms $timing-function;

  background-color: rgba(33, 150, 243, 0.9);

  .card-set__link:hover & {
    transform: translateY(0);
  }
}

.card-thumb__text {
  position: absolute;
  top: 0;
  left: 0;

  height: 168px;
  width: 322px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  margin: 63px 24px;

  color: $bc;

  /* transform: translateY(100%); */

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .card-set__link:hover & {
    transform: translateY(0);
  }
}

.card-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-info__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $main-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-info__text {
  margin-top: 0;
  margin-bottom: 0;

  color: $second-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
