.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-hero-bc;
}

.footer-nav {
  width: 231px;
}

.footer-nav__logo {
  color: $bc;

  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-weight: normal;

  line-height: 1.7;
}

.addres__list {
}
.addres__item {
}

.addres__item + .addres__item {
  margin-top: 9px;
}

.first-link {
}

.addres__link {
  color: rgba(255, 255, 255, 0.6);

  &--bc {
    color: #fff;
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}
