.section {
  padding-top: 94px;
  padding-bottom: 94px;

  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 50px;

  color: $main-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
