$main-text-color: #212121;
$second-text-color: #757575;
$bc: #ffffff;
$second-bc: #f5f4fa;
$footer-hero-bc: #2f303a;

$accent: #2196f3;
$second-accent: #188ce8;

$card-set-gap: 30px;
$card-set-gap2: 20px;
$social-list-gap: 10px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
